<h1 class="fw-bold mt-5 title">HOME PAGE</h1>
<button id="open-all-doc" class="btn btn-outline-info mb-4">Open all doc</button>
<button id="close-all-doc" class="btn btn-outline-danger mb-4">Close all doc</button>
<div class="slick-home">
    <div class="slick-home__item m-1 rounded-3 overflow-hidden">
        <img src="https://media.istockphoto.com/photos/hot-air-balloons-flying-over-the-botan-canyon-in-turkey-picture-id1297349747?b=1&k=20&m=1297349747&s=170667a&w=0&h=oH31fJty_4xWl_JQ4OIQWZKP8C6ji9Mz7L4XmEnbqRU="
            class="slick-home__img shadow" alt="...">
    </div>
    <div class="slick-home__item m-1 rounded-3 overflow-hidden">
        <img src="https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dHJhdmVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            class="slick-home__img shadow" alt="...">
    </div>
    <div class="slick-home__item m-1 rounded-3 overflow-hidden">
        <img src="https://images.unsplash.com/photo-1630578967102-08b49636637b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NHwxNzg1NzI4fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            class="slick-home__img shadow" alt="...">
    </div>
    <div class="slick-home__item m-1 rounded-3 overflow-hidden">
        <img src="https://media.istockphoto.com/photos/rocky-mountains-and-autumnal-forest-with-colorful-trees-high-mountain-picture-id1282522992?b=1&k=20&m=1282522992&s=170667a&w=0&h=W_7cRAwDTWOqqXF3g9zwOaCMgol1-Vb4rYtlqBbJMYE="
            class="slick-home__img shadow" alt="...">
    </div>
    <div class="slick-home__item m-1 rounded-3 overflow-hidden">
        <img src="https://media.istockphoto.com/photos/flying-autumn-leaves-picture-id1262572653?b=1&k=20&m=1262572653&s=170667a&w=0&h=gDPYPtFysu7SFBKDrxt7xXniv2xC5WhFSlbuxTGT45Q="
            class="slick-home__img shadow" alt="...">
    </div>
    <div class="slick-home__item m-1 rounded-3 overflow-hidden">
        <img src="https://images.unsplash.com/photo-1470770841072-f978cf4d019e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bGFuZHNjYXBlJTIwbmF0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            class="slick-home__img shadow" alt="...">
    </div>
</div>
<div class="space m-5"></div>
<div class="mt-4">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
                </a>
                <div class="card-body">
                    <a class="text-decoration-none text-dark" href="/courses/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                    <div class="bottom-card">
                        <a href="#" class="btn btn-outline-success buy-course-btn">Mua khóa học</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<script>
    var listOpenDocs = [
        'https://mongoosejs.com/docs/guide.html',
        'https://expressjs.com/',
        'https://www.npmjs.com/package/express-handlebars',
        'https://handlebarsjs.com/guide/#evaluation-context',
        'https://getbootstrap.com/docs/5.1/getting-started/introduction/',
        'https://www.npmjs.com/package/mongoose-delete',
    ]

    listCloseDocs = []

    window.addEventListener('DOMContentLoaded', (event) => {
        hasCloseList()

        $('#open-all-doc').click(() => {
            listOpenDocs.forEach((e) => {
                currentAction = window.open(e, '_blank');
                listCloseDocs.push(currentAction)
            })
            hasCloseList()
        })

        $('#close-all-doc').click(() => {
            listCloseDocs.forEach((e) => {
                e.close()
            })
            listCloseDocs = []
            hasCloseList()
        })
    })

    function hasCloseList() {
        if (listCloseDocs.length <= 0) {
            $('#close-all-doc').hide()
            $('#open-all-doc').show()
        }
        else {
            $('#close-all-doc').show()
            $('#open-all-doc').hide()
        }
    }
</script>