<form class="mt-4" method="POST" action="/courses/handle-form-actions">
    <div>
        <h3>Khóa học của tôi </h3>
        {{#if deletedCount}}
        <a href="/me/trash/courses" class="text-decoration-none">Thùng rác</a> <span
            class="text-danger">({{deletedCount}})</span>
        {{/if}}
        <h6 class="mt-2">Số khóa học hiện có: ({{count}})</h6>

        {{!-- control option --}}
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Select All
                </label>
            </div>
            <select class="form-select form-select-sm checkbox-select-all-options" aria-label="Default select example"
                name="action" required>
                <option value="">--Choose action--</option>
                <option value="delete">Delete</option>
            </select>
            <button class="btn btn-primary btn-sm disabled" id="btn-submit-checked-form">Thực hiện</button>
        </div>
    </div>

    {{!-- table course --}}
    <table class="table table-striped table-hover mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td><a class="text-decoration-none fw-bold text-dark" href="/courses/{{this.slug}}">{{this.name}}</a>
                </td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="mb-1 btn btn-outline-warning text-dark">Sửa</a>
                    <a href="" class="mb-1 btn btn-outline-danger" data-id="{{this._id}}" data-bs-toggle="modal"
                        data-bs-target="#delete-course-modal">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-danger text-center">You haven't posted any courses yet!!!
                    <a href="/courses/create">Create a new course</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete course --}}
<div id="delete-course-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Delete course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to <span class="text-danger">delete</span> this course?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST"></form>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        var courseId;
        var deleteForm = document.forms['delete-course-form']

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = event.relatedTarget
            courseId = button.dataset.id
        })

        //soft delete
        $('#btn-delete-course').click(() => {
            deleteForm.action = `/courses/${courseId}?_method=DELETE`
            deleteForm.submit();
        })

        //checkbox all changed
        $('#checkbox-all').change(function () {
            var isCheckedAll = $(this).prop('checked');//tab nine vscode
            $('input[name="courseIds[]"]').prop('checked', isCheckedAll)
            renderCheckAllSubmitBtn()
        })

        //course item checkbox clicked
        $('input[name="courseIds[]"]').change(function () {
            var isCheckedAll = $('input[name="courseIds[]"]').length === $('input[name="courseIds[]"]:checked').length;
            $('#checkbox-all').prop('checked', isCheckedAll)
            renderCheckAllSubmitBtn()
        })

        //Re-render check all submit button
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length;
            if (checkedCount)
                $('#btn-submit-checked-form').removeClass('disabled');
            else
                $('#btn-submit-checked-form').addClass('disabled');
        }
    })
</script>